* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    position: relative;
    width: 250px;
    margin: 150px 150px;
    color: #fff;
    background-color: #da3b4a;
    border-color: #da3b4a;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
}

.tooltip__container {
    position: absolute;
    display: none;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.title {
    color: #636567;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    background-color: #f7f7f7;
}

.text {
    color: #5e6062;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
}

.active {
    display: block;
}
